

<h1>Самые интересные новости в сети!</h1>
<div class="container">
	<div class="row">
		<div class="col-md-offset-1">
		<% @posts.each do |post| %>
			<div class="col-md-2">
				<div class="front-image">
					<%= image_tag post.image.url(:small) %>	
				</div>	
				<p class="front-post">
					<%= post.content %>
				</p>
				<%= link_to 'Edit Post', edit_post_path(post)   %>
				<div class="button btn btn-normal">
					<%= link_to post.title, @post %>  
				</div>
			</div>
		<% end %>
		<div class="col-md-offset-1">
	</div>
	
	
</div>

</div>
<!-- -->